.button {
    width: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    font-weight: 200;
    color: black;

    cursor: pointer;
    display: inline-block;
}

.button-1 {
    background-color: transparent;
    border: 3px solid #172e69;
    ;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #172e69;

}

.button-1:hover {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;
}