li:hover {
    font-weight: bolder;

    transition: 0.3s;


}

.menu_active {
    font-weight: bold;
    border-right: 3px solid bisque;
}

li {
    text-decoration: none;
}

.sidebar {
    background-color: purple;
    left: 0;
    padding-left: 0%;
    border-radius: 5px 15px 15px 5px;
    position: relative;
}